h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
form {
  max-width: 570px;
  background-color: rgba(255, 255, 255, 0.14);
  box-shadow: 0 0 40px rgba(0,0,0,0.1);
  border-radius: 15px;
  align-self: center;
  padding: 20px 35px;

}form * {
   display: block;
   border: none;
 }
form h1 {
  margin: 20px;
  font-weight: normal;
  text-align: center;

}
form label {
  margin-left: 2px;
}
form input {
  display: block;
  height: 50px;
  width: 350px;
  font-weight: bold;
  border-radius: 3px;
  padding: 0 10px;
  margin: 8px 0 15px;
  font-size: 17px;
}
form input::placeholder {
  font-weight: normal;
  font-size: 14px;
}
